*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
}

a,
button,
img {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

body {
  height: 100vh;
  width: 100%;
  align-content: center;
  background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
}

.container-rows {
  --h: 300px;
  width: 100%;
  height: var(--h);
  display: flex;
  flex-direction: column;

  @media (width <= 1111px) {
    --h: 200px;
  }

  .row {
    width: 100%;
    overflow: hidden;
    display: flex;
    gap: 1.5rem;
    justify-content: start;
    align-items: center;
    height: 50%;
    background-color: #252525;

    .sponsor-logo {
      min-width: 150px;
      height: 150px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  .row1 {
    flex-direction: row-reverse;
    justify-content: center;

    @media (width <= 1111px) {
      display: none;
    }
  }

  .row2 {
    flex-direction: row-reverse;
    padding-left: 50px;
    background-image: url('assets/a31.avif');
    background-size: 80%;
    background-repeat: repeat-y;
    background-repeat: repeat-x;
    animation: move 60s linear forwards infinite;

    @media (width <= 1111px) {
      background-size: 250%;
    }
  }
}

@keyframes move {
  0% {
    background-position: 0;
  }
  100% {
    background-position: -1000%;
  }
}
